body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}

header {
    background-color: #ff843d;
    color: white;
    padding: 30px 40px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
}

nav a:hover {
    background-color: #ffb04b;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px 20px 0px 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.receita {
    margin-bottom: 30px;
    font-size: 1.1em;
    color: #666;
}

.receita h2 {
    color: #f8b400;
}

.center{
    text-align: center;
}
